.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px;
  min-height: 83vh;

  input {
    width: 80vw;
  }
}

.title {
  font-size: calc(10px + 2vmin);
  color: black;
}

.description {
  font-size: calc(6px + 1vmin);
  color: black;
}
