@import "../../../styles/settings.scss";

.root {
  @include flex(column, center, center);
  background-attachment: fixed;
  background-color: $splash-overlay;
  background-image: url("/images/splash4.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .programNameBox {
    @include flex(column, center, center);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bottomCurve {
    @include flex(column, center, flex-end);
    bottom: -1px;
    position: absolute;
    width: 100%;
    svg {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}
