@import "../../../styles/settings.scss";

.root {
  @include flex(column, center, center);
  background-attachment: fixed;
  background-image: url("/images/splash.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .programNameBox {
    @include flex(column, center, center);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      height: 8rem;
      object-fit: contain;
      width: 8rem;
      filter: drop-shadow($programName-shadow);
    }
  }

  .bottomCurve {
    @include flex(column, center, flex-end);
    bottom: -1px;
    position: absolute;
    width: 100%;
    svg {
      width: 100%;
      fill: $splashCurve;
    }
  }
}
