@import "../../../styles/settings.scss";

.aboutUsTitle {
  @include sectionTitle;
}

.aboutUsDescription {
  @include sectionDefaultDescription;
}

.aboutUsSubtitle {
  @include subsectionTitle;
  margin: 0 25px 0 25px;
}

.aboutUsLogo {
  @include flex(column, null, null);
  float: left;
  margin: 0 10px 0 10px;

  .aboutUsLogoImage {
    float: left;
    width: 250px;
  }
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
}

/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .aboutUsDescription {
    margin: 0 15px 0 15px;
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .aboutUsDescription {
    margin: 0 10px 0 10px;
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .aboutUsDescription {
    margin: 0 5px 0 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .aboutUsContent {
    @include flex(column, center, center);
  }

  .aboutUsDescription {
    margin: 0 3px 0 3px;
  }
}
