@import "../../../styles/settings.scss";

.aboutUsTitle {
  font-size: 25px;
  padding: 10px;
  font-family: $text-font;
  margin: 0 25px 0 25px;
  border-bottom: 3px solid $bottom-color-below-title;
  width: 30%;
}

.aboutUsDesc1  {
  font-size: 15px;
  padding: 10px;
  font-family: $text-font;
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
  margin-right: 25px;
}

.asd {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.colLogo {
  margin: 15px;
}

img {
  width: 230px;
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .asd {
    display: flex;
    flex-direction: column;
    // width: 100%;
  }

  .aboutUsDesc1  {
    margin: 0 25px 0 25px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .asd {
    display: flex;
    flex-direction: column;
    // width: 100%;
  }

  .aboutUsDesc1  {
    margin: 0 25px 0 25px;
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
