@import "../../../styles/settings.scss";
.root {
  .departmentsTitle {
    @include sectionTitle;
  }
}
.departmentsList {
  @include flex(row, null, center);
  margin: 0 25px 0 25px;
  padding-left: 0;
  .departmentContainer {
    margin-bottom: 1rem;
    list-style: none;
    &::after {
      background-color: rgb(145, 144, 144);
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      margin-top: 0.5rem;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 50px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    .departmentAddress {
      margin-top: 25px;
      line-height: 1.5;
    }
    .departmentTitle {
      font-weight: bold;
      margin-top: 10px;
    }
    .departmentDetails {
      margin-left: 5%;
    }
  }
}

.container {
  margin-top: 25px;
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media (min-width: 1200px) and (max-width: 1920px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .container {
      margin-top: 25px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .container {
      margin-top: 25px;
    }

    .departmentTitle,
    .departmentDetails {
      font-size: 0.85rem;
    }
  }
}
