@import "../../../styles/settings.scss";

.root {
  height: 70vh;
  width: 67vw;
  padding-bottom: $padding-below-sections;
}

.title {
  font-size: 30px;
  padding: 10px;
  margin: 0 20px 0 20px;
  font-family: $text-font;
  border-bottom: 1px solid $second-shadow-poster-color;
}

.department {
  padding: 5px;
  font-family: $text-font;
  width: 20vw;
  max-width: 20vw;
}

.row{
  padding: 10px;
}

.departmentTitle{
  font-size: 20px;
  margin: 10px 0;
  max-width: 20vw;
}

.departmentDetails {
  font-size: 18px;
  margin: 5px;
}

.container{
  @include flex(row, start, center);
  flex-wrap: wrap;
}
