@import "../../../styles/settings.scss";

.departmentsTitle {
  @include sectionTitle;
}

.container {
  margin-top: 25px;
}

.departmentName, .departmentAddress {
  margin-top: 25px;
  line-height: 1.5;
}

.departmentName {
  margin-top: 1rem;
  list-style: none;
}

.departmentAddress {
  list-style: none;
  margin-top: 25px;
}

.row {
  @include flex(row, null, center);
  margin: 0 25px 0 25px;
  padding-left: 0;
}

.departmentsSubtitle {
  font-weight: bold;
  margin-top: 10px;
}

.departmentDetails {
  margin-left: 5%;
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media (min-width: 1200px) and (max-width: 1920px) {
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .row {
    margin: 0 15px 0 15px;
  }
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .row {
      margin: 0 10px 0 10px;
    }
  }
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .container {
      margin-top: 25px;
    }

    .departmentName, .departmentAddress {
      margin-top: 0;
    }

    .row {
      margin: 0 5px 0 5px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .container {
      margin-top: 25px;
    }

    .departmentName, .departmentAddress {
      margin-top: 0;
    }

    .departmentsSubtitle {
      font-size: 0.85rem;
    }

    .departmentDetails {
      font-size: 0.85rem;
    }

    .row {
      margin: 0 3px 0 3px;
    }
  }
}
