@import '../../../styles/settings.scss';

.aboutProgramTitle {
  font-size: 25px;
  padding: 10px;
  font-family: $text-font;
  margin: 0 25px 0 25px;
  border-bottom: 3px solid $bottom-color-below-title;
  width: 30%;
}

.aboutProgram {
  font-size: 15px;
  padding: 10px;
  font-family: $text-font;
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
  margin: 0 25px 0 25px;
}
