@import "../../../styles/settings.scss";

.aboutProgramTitle {
  @include flex(row, center, center);
  padding: 10px;
  margin: 40px 25px 50px 25px;
  border-bottom: 3px solid $bottom-color-below-title;
  width: 30%;
}

.aboutProgram {
  padding: 10px;
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
  margin: 0 25px 0 25px;
}

.aboutProgram1 {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: bold;
  line-height: 1.5;
  margin: 15px 25px 15px 25px;
}

.contactBox {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 15px 0 15px 0;
  p {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
  }
}
.aboutProgram2 {
  padding: 10px;
  text-align: center;
}

.contactBox {
  @include flex(column, center, center);
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* LG Large Devices, Tablets iPad Pro */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
    .aboutProgramTitle {
      width: 40%;
    }
  }
}

/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .root {
    .aboutProgramTitle {
      width: 40%;
    }
  }

  .aboutProgram {
    margin: 0 15px 0 15px;
  }

  .aboutProgram1 {
    margin: 15px;
  }

  .aboutProgram2 {
    margin: 0 15px 0 15px;
  }
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    .aboutProgramTitle {
      width: 40%;
    }
  }

  .aboutProgram {
    margin: 0 10px 0 10px;
  }

  .aboutProgram1 {
    margin: 15px 10px 15px 10px;
  }

  .aboutProgram2 {
    margin: 0 10px 0 10px;
  }
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .root {
    .aboutProgramTitle {
      width: 40%;
    }
  }

  .aboutProgram {
    margin: 0 5px 0 5px;
  }

  .aboutProgram1 {
    margin: 15px 5px 15px 5px;
  }

  .aboutProgram2 {
    margin: 0 5px 0 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .root {
    .aboutProgramTitle {
      width: 55%;
    }
  }

  .aboutProgram {
    margin: 0 3px 0 3px;
  }

  .aboutProgram1 {
    margin: 15px 3px 15px 3px;
  }

  .aboutProgram2 {
    margin: 0 3px 0 3px;
  }
  .contactBox {
    font-size: 1.15rem;
    line-height: 1;
    p {
      font-size: 1.15rem;
    }
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
