@import "../../../styles/settings.scss";

.aboutProgramTitle {
  font-size: 25px;
  padding: 10px;
  margin: 0 25px 10px 25px;
  border-bottom: 3px solid $bottom-color-below-title;
  width: 30%;
}

.aboutProgram {
  font-size: 15px;
  padding: 10px;
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
  margin: 0 25px 0 25px;
}

.aboutProgram1 {
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 25px 0 25px;
}

.aboutProgram2 {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
  }
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .root {
  }
}
/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .aboutProgramTitle {
    width: 40%;
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .aboutProgramTitle {
    width: 40%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .aboutProgramTitle {
    width: 50%;
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
