@import "../../../styles/settings.scss";

/*main view*/

.root {
  @include flex(row, flex-start, center);
}

.postersGallery {
  @include flex(row, center, center);
  width: 50%;
  z-index: 1;

  .poster {
    width: 50%;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.postersGallery .poster {
  cursor: pointer;

  margin: 12px 12px;
  box-shadow: 0px 0px 1px $first-shadow-poster-color, 0 0 5px $second-shadow-poster-color,
    0 0 2px $first-shadow-poster-color;
}

.postersGallery .poster:hover {
  filter: opacity(0.7);
}

/*modal*/

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  z-index: 999;
}

.modalOpen {
  visibility: visible;
  opacity: 1;

  @extend .modal;
}

.modalOpen img {
  width: auto;
  max-width: 175%;
  height: auto;
  max-height: 175%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 25px;
}

.icon {
  position: fixed;
  top: 20px;
  right: 50px;
  width: 30px;
  height: 30px;
  padding: 2px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: $icon-color;
  cursor: pointer;
}

/*RWD*/

@media (max-width: 991px) {
  .postersGallery {
    width: 75%;
    @include flex(column, center, center);
  }
}

@media (max-width: 480px) {
  .postersGallery {
    width: 100%;
    @include flex(column, center, center);
  }
}
