@import '../../../styles/global.scss';

.root {
  @include flex(column, center, start);
  height: 45vh;
  padding: 25px 0 25px 0;
}

.programName {
  font-size: 50px;
  text-transform: uppercase;
}

.podprogramName {
  font-size: 40px;
}

.programName .podprogramName {
  font-family: $text-font;
}
