@import "../../../styles/settings.scss";

.root {
  margin: 0.75rem 0 0.75rem 0;
  &::after {
    background-color: rgb(145, 144, 144);
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin-top: 0.25rem;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
  }
}
.announcementTitle {
  @include flex(null, null, flex-start);
}

.announcementDetails {
  margin-left: 5%;
}

/* ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
}

/* ExtraLarge Devices, Desktops  */
@media (min-width: 1200px) and (max-width: 1920px) {
}

/* Large Devices, Laptops, Large Tablets iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .announcementTitle {
    margin: 15px;
  }
}

/* Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .announcementTitle {
    margin: 15px 10px 15px 10px;
  }
}

/* Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .announcementTitle {
    margin: 15px 5px 15px 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .announcementTitle {
    margin: 5px 3px 0 3px;
  }
  .announcementDetails {
    font-size: 0.85rem;
  }
}
