@import "./normalize.scss";
@import "./settings.scss";
@import "./mixins.scss";
@import "./typography.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $darkWhite;
}

a {
  color: $linkColor;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition;
  font-family: $font-text;
}

/* Media non-touch  */
a:hover {
  text-decoration: none;
  color: $linkColor-active;
}
/*Media touchable*/
@media (pointer: coarse) {
  a:active {
    color: $linkColor-active;
    transition: 0s;
  }
}
