@mixin flex($flex-direction, $align-items, $justify-content) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin sectionTitle {
  @include flex(row, center, center);
  padding-bottom: 25px;
  margin: 40px 25px 0 25px;
  border-bottom: 3px solid $bottom-color-below-title;
  max-width: 100%;
}

@mixin subsectionTitle {
  @include flex(null, null, center);
  padding: 10px;
  font-weight: bold;
  line-height: 1.5;
  margin: 40px 25px 15px 25px;
}

@mixin sectionDefaultDescription {
  padding: 10px;
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
  margin: 0 25px 0 25px;
}
