@import "./mixins.scss";

/* DO NOT USE THOSE VARIABLES IN THE OTHER SCSS FILES! */
$black: #000000;
$blue: #0000ff;
$darkBlue: #00008b;
$chocolate: #5c3f1a;
$cookie: #e89e3b;
$darkGray: #363636;
$darkWhite: #f0f0f0;
$gray: #434343;
$green: #008000;
$lightBlack: #262626;
$lightGray: #b2b2b2;
$lightGreen: #ddffdd;
$lightGreyBlue: #7aa3cc;
$lightWhite: #f4f5f7;
$lightWhiteBlue: #e0e3ed;
$mint: #aaf0d1;
$pink: #fce4e4;
$red: #cc0033;
$transparent: transparent;
$white: #ffffff;
$yellow: #ffff00;
$gold: #f8af20;

$base-padding: 24px;
$radius: 5px;
$base-size: 1em;
$transition: all 0.3s;
$transition-long: all 0.8s;

$box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
$box-shadow-small: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);

$text-color: $black;

/*Global*/
$font-title: "Ubuntu", sans-serif;
$font-text: "Lato", sans-serif;
$padding-below-sections: 75px;
$bottom-color-below-title: $gold;

/*Links*/
$linkColor: $lightGreyBlue;
$linkColor-darkTheme: $darkWhite;
$linkColor-active: $gold;

/*Header*/

/*Splash*/
$splash-overlay: rgba(0, 0, 0, 0.2);
$programName-color: $lightWhite;
$programName-shadow: 2px 2px 2px $black;
$splashCurve: $darkWhite;
$splashCurve-darkTheme: $lightBlack;

/*Menu*/
$menu-bg: $darkWhite;
$menu-bg-darkTheme: $lightBlack;
$menu-link: $lightBlack;
$menu-link-active: $gold;

/*About Program*/
$aboutProgramCarousel-bg: $white;

/*Posters*/
$first-shadow-poster-color: $black;
$second-shadow-poster-color: $darkBlue;

$icon-color: $white;

/*Footer*/
$yearColor: $darkWhite;
$year-bg: $gray;
