@import "./mixins.scss";

/* DO NOT USE THOSE VARIABLES IN THE OTHER SCSS FILES! */
$black: #000000;
$blue: #0000ff;
$darkblue: #00008b;
$chocolate: #5c3f1a;
$cookie: #e89e3b;
$darkGray: #363636;
$darkWhite: #f0f0f0;
$gray: #434343;
$green: #008000;
$lightBlack: #2a2a2a;
$lightGray: #b2b2b2;
$lightGreen: #ddffdd;
$lightGreyBlue: #7aa3cc;
$lightWhite: #f4f5f7;
$lightWhiteBlue: #e0e3ed;
$mint: #aaf0d1;
$pink: #fce4e4;
$red: #cc0033;
$transparent: transparent;
$white: #ffffff;
$yellow: #ffff00;

$base-padding: 24px;
$radius: 5px;
$base-size: 1em;
$transition: all 0.3s;
$transition-long: all 0.8s;

$box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
$box-shadow-small: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);

$text-color: $black;

/*Global*/
$text-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$padding-below-sections: 75px;
$bottom-color-below-title: $darkblue;

/*Links*/
$linkColor: $darkblue;
$linkColor-active: $lightGreyBlue;

/*Header*/

/*Splash*/

/*Menu*/
$menu-bg: $darkWhite;

/*Posters*/
$first-shadow-poster-color: $black;
$second-shadow-poster-color: $darkblue;

$icon-color: $white;
