@import "./settings.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: blue;
  font-family: $font-title;
  margin: 0;
}
// h1 {
//   font-size: 5rem;
// }

// p {
//   color: $text-color;
//   margin: 0;
//   padding: 0;
// }
