@import "../../../styles/settings.scss";

.footer {
  @include flex(column, center, center);
  font-family: $text-font;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.footerRow {
  @include flex(row, center, space-between);
  width: 55vw;
}

.contactText {
  @include flex(column, null, null);
  padding: 15px;
}

.contactHead {
  font-size: 20px;
  margin: 5px 0 5px 0;
}

.contactTitle{
  font-size: 15px;
}

.contactDetails {
  font-size: 15px;
}

.textFooter {
  margin: 5px;
  font-size: 25px;
}

.logo {
  @include flex(row, null, null);
}

.logoDetails {
  margin: 0 10px 0 10px;

  img {
    width: 100px;
  }
}
